@charset "utf-8";
/* 메인 레이아웃 공통 */

/* 헤더영역 */
header {
	width: 100%;
	height: 120px;
	position: fixed;
	z-index: 20;
	padding: 40px 40px 30px 40px;
	box-sizing: border-box;
}

header > h1 {
	font-family: 'PT Serif', serif;
	float: left;
	color: #fff;
	font-weight: 800;
	font-size: 40px;
	padding: 5px;
}

/*토글버튼*/
header > .toggle {
	float: right;
	width: 40px;
	height: 30px;
	padding: 10px;
	cursor: pointer;
}

.toggle > .bar {
	background-color: #fff;
	width: 40px;
	height: 6px;
	position: absolute;
	right: 40px;
	margin-bottom: 6px;
	transition: .5s;
}

.toggle > .bar:first-child {
	top: 40px;
}

.toggle > .bar:nth-child(2) {
	top: 52px;
	width: 32px;
}

.toggle > .bar:last-child {
	width: 20px;
	top: 64px;
	margin-bottom: 0px;
}

/*토글버튼 마우스hover시 길이맞추기*/
.toggle > .bar.hover {
	width: 40px !important;

}

/*상단 햄버거메뉴 클릭시 회전하여 X자 모양 나오게하기*/
.toggle > .bar.closeToggle_L {
	transform: rotate(45deg);
	width: 40px !important;
}

.toggle > .bar.closeToggle_R {
	transform: rotate(-45deg);
	top: 40px !important;
	width: 40px !important;
}


/* sns아이콘 서식 */
.snsBtn {
	position: absolute;
	bottom: 80px;
	right: 5%;
	z-index: 20;
}

.snsBtn li a {
	position: relative;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: block;
	border: 1px solid #fff;
	opacity: 0.4;
	overflow: hidden;
	transition: 0.6s;
	margin-bottom: 10px;
}

.snsBtn li a i {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 26px;
	transition: 0.6s;
}

.snsBtn > ul > li > a.hover {
	opacity: 1;
}

.snsBtn > ul > li > a > span.bg {
	position: absolute;
	display: block;
	background-color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: 0.6s;
	top: -50px;
	left: -2px;
}

.snsBtn > ul > li > a > span.bg.hover {
	top: -2px;
}

.snsBtn > ul > li > a > i.hover {
	color: #222;
}

/*토글메뉴서식*/
.toggleMenu {
	position: fixed;
	top: -100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #233123;
	z-index: 10;
}

.toggleMenu > .bgText {
	position: absolute;
	font-size: 300px;
	font-weight: 900;
	color: #191819;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav.nav_toggle {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
}



.toggleMenu .bar {
	float: right;
	width: 2px;
	height: 2px;
	background-color: #eee;
	margin: 40px 0px;
	transition: 0.6s;
}

.toggleMenu .bar.hover {
	width: 80px !important;
}

.toggleMenu a {
	float: right;
	display: block;
	font-size: 62px;
	text-transform: uppercase;
	font-weight: 100;
	padding: 10px;
	transition: .8s;

}

.toggleMenu li a.hover {
	font-weight: 900 !important;
}

/*서브메뉴 공통내비게이션 서식*/

.sub_nav {
	position: absolute;
	bottom: 80px;
	left: 80px;

}

.sub_nav li {
	float: left;
	margin-right: 5px;
	border-bottom: 2px solid #fff;
	overflow: hidden;
	width: 40px;
	transition: .6s;
	text-align: center;
	/*    opacity: 0;*/
}

.sub_nav a {
	font-size: 17px;
	padding: 10px;
	display: block;
	text-transform: uppercase;
	opacity: 0;
	transition: 0.6s;

}

.sub_nav li.active {
	width: 80px;
}

.sub_nav li.active a {
	opacity: 1;
}

.sub_nav li.active.opa {
	opacity: 0.3;
}

.sub_nav li.hover:first-child {
	width: 80px;
}

.sub_nav li.hover:nth-child(2) {
	width: 60px;
}


.sub_nav li.hover:nth-child(3) {
	width: 85px;
}


.sub_nav li.hover:nth-child(4) {
	width: 128px;

}

.sub_nav li.hover:nth-child(5) {
	width: 108px;

}

.sub_nav li.hover:last-child {
	width: 97px;
}

.sub_nav > ul > li:hover a {
	opacity: 1;
}

section {
	position: fixed;
	width: 100%;
	height: 100%;
}
