@charset "utf-8";

h3 {
  position: absolute;
  right: 80px;
  top: 120px;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #232123;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
}

.swiper-container {
  position: absolute;
  top: 200px;
  width: calc(100% - 200px);
  height: 60%;
}

.swiper-slide {
  background-color: #1b191b;
  padding: 15px;
  box-sizing: border-box;
}

.swiper-slide .title {
  font-size: 16px;
  /* margin-bottom: 15px; */
  line-height: 3em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  text-align: center;
}

.swiper-slide .imgbox {
  width: 100%;
  height: 63%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  overflow: hidden;
}

.swiper-slide .imgbox > img {
  height: 100%;
}

.swiper-slide .imgbox:first-child > img {
  transform: translateY(-1%);
}

.swiper-slide .txt {
  font-size: 13px;
  line-height: 1.6em;
  margin-bottom: 35px;
  /*    height: calc(100% - 350px);*/

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/*자세히보기 버튼*/
.morebtn {
  border: 1px solid #fff;
  background-color: #1b191b;
  width: 100px;
  height: 38px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 15px;
  bottom: 10px;
  z-index: 1000;
  overflow: hidden;
  box-sizing: border-box;
}

.swiper-slide .morebtn::after {
  content: "";
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0px;
  left: -100%;
  transition: 0.4s;
  border: 1px solid transparent;
  background: linear-gradient(#eb2535, #a15fa2);
}

.swiper-slide .morebtn:hover::after {
  content: "자세히보기";
  top: 0px;
  left: 0%;
}

/*sns 가로목록으로 변경*/
.snsBtn > ul {
  width: 115%;

  display: flex;
  justify-content: space-between;
}
