@charset "utf-8";

h3 {
	position: absolute;
	right: 80px;
	top: 120px;
	font-size: 82px;
	font-weight: 900;
	text-transform: uppercase;
	color: #232123;
	text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
}

.sub_nav ul li:last-child {
	width: 97px;
}

iframe {
	width: calc(100% - 100px);
	position: absolute;
	top: 220px;
	left: 50px;
	height: calc(100% - 370px);
}

/*sns 가로목록으로 변경*/
.snsBtn > ul {
	display: flex;
	width: 115%;
	justify-content: space-between;
}
